<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- navigation tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              role="button"
              [ngClass]="{ active: tab === 'add' }"
              (click)="onChangeTab('add')"
              >{{ editMode ? "Edit" : "Add" }} Plan</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: tab === 'viewall' }"
              (click)="onChangeTab('viewall')"
              role="button"
              >View Plans</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              role="button"
              [ngClass]="{ active: tab === 'populate' }"
              (click)="onChangeTab('populate')"
              >Populate Plan</a
            >
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- Template Outlet -->
        <ng-container
          *ngTemplateOutlet="
            { add: add, viewall: viewall, populate: populate }[tab]
          "
        ></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #add>
  <form [formGroup]="discountForm">
    <!-- form group -->
    <div class="form-group">
      <label class="mb-1">Discount Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Name"
      />
    </div>

    <!-- description -->
    <div class="form-group">
      <label class="mb-1">Description</label>
      <textarea
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Description"
      ></textarea>
    </div>

    <div class="form-group">
      <label class="mb-1">Discount Percent</label>
      <input
        type="number"
        class="form-control"
        formControlName="discountPrice"
        placeholder="Discount Percent"
      />
    </div>

    <!-- ProductIDs -->
    <div class="form-group">
      <label class="mb-1">Discount Product ID's</label>
      <textarea
        type="text"
        class="form-control"
        formControlName="products"
        placeholder="Enter the id's separated by comma (,)"
      ></textarea>
    </div>
    <button (click)="submitDiscountPlan()" class="btn btn-success mr-2">
      {{ editMode ? "Update" : "Create" }}
    </button>
    <button
      class="btn btn-info"
      (click)="$event.preventDefault(); discountForm.reset()"
    >
      Reset
    </button>
    <button
      class="btn btn-warning"
      [disabled]="!editMode"
      (click)="$event.preventDefault(); editMode = false"
    >
      Exit Edit Mode
    </button>
  </form>
</ng-template>

<!-- display section -->

<ng-template #viewall>
  <div class="">
    <button class="btn btn-info btn-block" (click)="refreshPlans()">
      Refresh
    </button>
  </div>
  <div class="row" *ngIf="discountList.length !== 0">
    <!-- Loop of items -->
    <div class="col-md-4 my-3" *ngFor="let item of discountList; let i = index">
      <div class="card shadow-lg text-dark bg-light h-100">
        <div class="card-header">
          <h6 class="card-title">Title: {{ item.name }}</h6>
        </div>
        <div class="card-body">
          <p>Unique Id: {{ item._id }}</p>
          <p>Description: {{ item.description }}</p>
          <p>discount percent: {{ item.discountPrice }}</p>
          <button
            class="btn btn-info text-white mr-1"
            (click)="enterEditMode(item, discountForm)"
          >
            Edit <i class="nc-icon nc-sound-wave"></i>
          </button>
          <button class="btn btn-danger text-white" (click)="deletePlan(item)">
            Remove <i class="nc-icon nc-simple-remove"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #populate>
  <div class="form-group">
    <label for="uniqueID">Discount Plan ID</label>
    <input
      type="text"
      class="form-control"
      #discountPlanID
      placeholder="Unique ID"
    />
    <button
      class="btn btn-success"
      (click)="populateDiscountPlan(discountPlanID.value)"
    >
      Populate
    </button>
    <button class="btn btn-info" (click)="resetPopulatedPlans()">Reset</button>
  </div>

  <!-- Display -->

  <h6 class="text-muted mt-5">Discounted Products</h6>
  <div class="" *ngIf="populatedDiscountProudcts !== undefined">
    <div class="card">
      <div class="card-header">
        <h6>Name: {{ populatedDiscountProudcts.name }}</h6>
        <p class="mb-2">
          Description: {{ populatedDiscountProudcts.description }}
        </p>
        <p>{{ populatedDiscountProudcts.discountPrice }} % discount Applied</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary text-center">
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Discount</th>
              <th>Stock</th>
              <th>Category</th>
              <th>Subcategory</th>
            </thead>
            <tbody>
              <tr
                class="text-center"
                *ngFor="
                  let product of populatedDiscountProudcts.products;
                  let i = index
                "
              >
                <td>{{ product._id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discountedPrice }}</td>
                <td>{{ product.stocks }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.subCategory }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
